<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/libs/material-1.1.0-rc.5/angular-material.min.css">
        <link rel="stylesheet" href="/static/libs/md-data-table-0.10.9/md-data-table.min.css">

        {% block extra_head %}{% endblock %}

        <meta name="viewport" content="initial-scale=1" />
    </head>

    <body layout="column">

        <md-content layout="row" flex class="content-wrapper">
            {% block content %}{% endblock %}
        </md-content>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="/static/libs/angularjs-1.5.7/angular.min.js"></script>
        <script src="/static/libs/angularjs-1.5.7/angular-animate.min.js"></script>
        <script src="/static/libs/angularjs-1.5.7/angular-aria.min.js"></script>
        <script src="/static/libs/angularjs-1.5.7/angular-messages.min.js"></script>

        <!-- Angular Material library -->
        <script src="/static/libs/material-1.1.0-rc.5/angular-material.min.js"></script>

        <!-- Angular Material data table library -->
        <script src="/static/libs/md-data-table-0.10.9/md-data-table.min.js"></script>

        {% block extra_js %}{% endblock %}

    </body>
</html>
